<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallerys - Bunny Girls</title>
    <link rel="stylesheet" href="../../styles/ourGirls.css">
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../styles/body.css">
</head>
<body>
    <div id="navbar-container"></div>
    <div class="container">
        <div class="title">The Gallerys of our Girls</div>
        <div class="grid">
            <a href="./../ourGirls/girls/gallery/asunaGallery.html" class="profile">
                <img src="./../../assets/asunaHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Asunas Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/hifumiGallery.html" class="profile">
                <img src="./../../assets/hifumiHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Hifumis Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/ioriGallery.html" class="profile">
                <img src="./../../assets/ioriHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Ioris Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/lamiiGallery.html" class="profile">
                <img src="./../../assets/lamiiHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Lamiis Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/mikaGallery.html" class="profile">
                <img src="./../../assets/mikaHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Mikas Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/noahGallery.html" class="profile">
                <img src="./../../assets/noahHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Noahs Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/tokiGallery.html" class="profile">
                <img src="./../../assets/tokiHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Tokis Gallery</div>
                </div>
            </a>
            <a href="./../ourGirls/girls/gallery/yukaGallery.html" class="profile">
                <img src="./../../assets/yukaHead.png" alt="oops somthing went wrong">
                <div class="overlay">
                    <div class="name">Yukas Gallery</div>
                </div>
            </a>
        </div>
        <div class="footer">
            <a href="#">&lt;- Location</a> | <a href="./../questions.html">Q&A -&gt;</a>
        </div>
    </div>
    <script src="./../../js/generateNavbar.js" defer></script>
    <script src="./../../js/pages/gallerys.js" defer></script>
    <script src="./../../js/girl/model/girl.js" defer></script>
    <script src="./../../js/girl/girls/asuna/asuna.js" defer></script>
    <script src="./../../js/girl/girls/iori/iori.js" defer></script>
    <script src="./../../js/girl/girls/lamii/lamii.js" defer></script>
    <script src="./../../js/girl/girls/mika/mika.js" defer></script>
    <script src="./../../js/girl/girls/toki/toki.js" defer></script>
    <script src="./../../js/girl/girls/yuka/yuka.js" defer></script>
    <script src="./../../js/girl/girls/asuna/asuna.js" defer></script>
</body>
</html>
