<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QnA - Bunny Girls</title>
    <link rel="stylesheet" href="../styles/general.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/body.css">
</head>
<body>
    <div id="navbar-container"></div>
    <div class="content">
        <h1>Questions</h1>
        <p>
            <b>Q: Is it free?</b><br>
            A: No, in order to get a service you must provide money to the girl you want the service from. Each girl has different prices and services available.
        </p>
        <p>
            <b>Q: Why do you need the money? Isn't killing men enough?</b><br>
            A: Its a service after all. We are doing a favor to men for killing them this way so they must provide some type of support to our girls. We believe money is not very valuable once you are dead so it shouldnt be a problem to give it to us.
        </p>
        <p>
            <b>Q: How old do I have to be to get eaten/crushed?</b><br>
            A: We wish we could erradicate every men without any restriction of age but in order to make it legal you must be 18 or above to use our services. Sometimes we have special events were 16 can join and sometimes even younger but always you will have to be above 13.
        </p>
        <p>
            <b>Q: Can I pay to have sex before getting killed?</b><br>
            A: No, we only offer crush/vore services. But you can pay to give our girls a foot massage or a foot worship before getting the service done.
        </p>
        <p>
            <b>Q: How old are the girls?</b><br>
            A: The age of the girls is anonymous but they are all between 18 and 29.
        </p>
        <div class="footer">
            <a href="./../whoWeAre.html">&lt;- General Info</a> | <a href="#">Our Services -&gt;</a>
        </div>
    </div>
    <script src="./../js/generateNavbar.js" defer></script>
    <script src="./../js/pages/questions.js" defer></script>
</body>
</html>
