<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asuna - Bunny Girls</title>
    <link rel="stylesheet" href="../../../styles/girls.css">
    <link rel="stylesheet" href="../../../styles/navbar.css">
    <link rel="stylesheet" href="../../../styles/body.css">
</head>
<body>
    <div id="navbar-container"></div>
    <div class="container">
        <div class="left-section">
            <div class="price-list"></div>
            <img src="../../../assets/asuna.png" alt="oops somthing went wrong">
        </div>
        <div class="right-section">
            <h1><span id="name"></span></h1>
            <p><strong>Services: <span id="services-count"></span></strong></p>
            <p><span id="description"></span></p>
            <hr>
            <p class="quote">"<span id="quote"></span>"</p>
            <div class="buttons">
                <a href="./gallery/asunaGallery.html">Visit her gallery</a>
                <a href="./more/asunaMore.html">More about her</a>
            </div>
        </div>
    </div>
    <script src="./../../../js/generateNavbar.js" defer></script>
    <script src="./../../../js/girl/model/girl.js" defer></script>
    <script src="./../../../js/girl/girls/asuna/asuna.js" defer></script>
    <script src="./../../../js/girl/girls/asuna/loadProfileContent.js" defer></script>
</body>
</html>
