<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Girls - Bunny Girls</title>
    <!-- <link rel="stylesheet" href="../../styles/general.css"> -->
    <link rel="stylesheet" href="../../styles/ourGirls.css">
    <link rel="stylesheet" href="../../styles/navbar.css">
    <link rel="stylesheet" href="../../styles/body.css">
</head>
<body>
    <div id="navbar-container"></div>
    <div class="container">
        <div class="title">Who we are</div>
        <div class="grid">
            <a href="./girls/asuna.html" class="profile">
                <img src="./../../assets/asunaHead.png">
                <div class="overlay">
                    <div class="name">Asuna</div>
                    <div class="count">Service Count: <span id="services-count-asuna"></span></div>
                </div>
            </a>
            <a href="./girls/hifumi.html" class="profile">
                <img src="./../../assets/hifumiHead.png">
                <div class="overlay">
                    <div class="name">Hifumi</div>
                    <div class="count">Service Count: <span id="services-count-hifumi"></span></div>
                </div>
            </a>
            <a href="./girls/iori.html" class="profile">
                <img src="./../../assets/ioriHead.png">
                <div class="overlay">
                    <div class="name">Iori</div>
                    <div class="count">Service Count: <span id="services-count-iori"></span></div>
                </div>
            </a>
            <a href="./girls/lamii.html" class="profile">
                <img src="./../../assets/lamiiHead.png">
                <div class="overlay">
                    <div class="name">Lamii</div>
                    <div class="count">Service Count: <span id="services-count-lamii"></span></div>
                </div>
            </a>
            <a href="./girls/mika.html" class="profile">
                <img src="./../../assets/mikaHead.png">
                <div class="overlay">
                    <div class="name">Mika</div>
                    <div class="count">Service Count: <span id="services-count-mika"></span></div>
                </div>
            </a>
            <a href="./girls/noah.html" class="profile">
                <img src="./../../assets/noahHead.png">
                <div class="overlay">
                    <div class="name">Noah</div>
                    <div class="count">Service Count: <span id="services-count-noah"></span></div>
                </div>
            </a>
            <a href="./girls/toki.html" class="profile">
                <img src="./../../assets/tokiHead.png">
                <div class="overlay">
                    <div class="name">Toki</div>
                    <div class="count">Service Count: <span id="services-count-toki"></span></div>
                </div>
            </a>
            <a href="./girls/yuka.html" class="profile">
                <img src="./../../assets/yukaHead.png">
                <div class="overlay">
                    <div class="name">Yuka</div>
                    <div class="count">Service Count: <span id="services-count-yuka"></span></div>
                </div>
            </a>
        </div>
        <div class="footer">
            <a href="#">&lt;- Location</a> | <a href="./../questions.html">Q&A -&gt;</a>
        </div>
    </div>
    <script src="./../../js/generateNavbar.js" defer></script>
    <script src="./../../js/pages/ourGirls.js" defer></script>
    <script src="./../../js/girl/model/girl.js" defer></script>
    <script src="./../../js/girl/girls/asuna/asuna.js" defer></script>
    <script src="./../../js/girl/girls/iori/iori.js" defer></script>
    <script src="./../../js/girl/girls/lamii/lamii.js" defer></script>
    <script src="./../../js/girl/girls/mika/mika.js" defer></script>
    <script src="./../../js/girl/girls/toki/toki.js" defer></script>
    <script src="./../../js/girl/girls/yuka/yuka.js" defer></script>
    <script src="./../../js/girl/girls/asuna/asuna.js" defer></script>
</body>
</html>
